<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
<div align="center">
  <h3>Name:</h3>
  <p th:text="${person.getUsername}">VALUE<</p>
  <h3>E-mail:</h3>
  <p th:text="${person.getEmail()}">VALUE<</p>
  <h3>Address:</h3>
  <p th:text="${person.getAddress()}">VALUE<</p>
  <h3>Age:</h3>
  <p th:text="${person.getAge()}">VALUE<</p>

<!--  <h4><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></h4>-->
<!--  <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" \>-->
<!--    <input type="submit" value="Delete">-->
<!--  </form>-->

  <h3><a th:href="@{/admin}">Return to main page</a></h3>

  <form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
  </form>
</div>
</body>
</html>