<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<div align="center">
    <h2>Users</h2>
    <form th:method="GET" action="/users/search">
        <label for="keyword"> Enter user id: </label>
        <input type="number" name="keyword" id="keyword"/>
        <input type="submit" value="Search">
    </form>
    <h3><a href="/admin/users/new">Create new User</a></h3>
    <br/>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
    <table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Age</th>
        <th>Action</th>
    </tr>

    <tr th:each="lst : ${list}">
        <td th:utext="${lst.getId()}">ID</td>
        <td th:utext="${lst.getUsername()}">Name</td>
        <td th:utext="${lst.getEmail()}">Email</td>
        <td th:utext="${lst.getAddress()}">Address</td>
        <td th:utext="${lst.getAge()}">Age</td>
        <td>
            <a th:href="@{/admin/users/{id}/edit(id=${lst.getId()})}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${lst.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </table>
</div>
</body>
</html>